<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='features.css') }}" > #link with css file
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>

<h1>Helloooooooooo OTHERS :)</h1>
<p>A website created by me.</p>

</body>
<img src= "https://media4.giphy.com/media/KztT2c4u8mYYUiMKdJ/giphy.gif">
</html>
